@import url('https://fonts.googleapis.com/css?family=Cuprum|Lobster');

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

body {
  background: #EDF2F4;
  font-family: 'Lobster', cursive;
  font-family: 'Cuprum', sans-serif;
  color: #2B2D42;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 55px;
}

.container {
  background: #2B2D42;
  min-width: 420px;
  min-height:420px;
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  background: #2B2D42;
  width: 33.33%;
  height: 140px;
  border: 1px solid #8D99AE;
  font-size: 75px;
  color: #EDF2F4;
  line-height: 100px;
}

.container > .markedBox {
  background:#3D348B;
  color:white;
  vertical-align: middle;
  line-height:150px;
  font-size:70px;
}

button {
  background: #8895B3;
  margin-top:50px;
  height:100px;
  width:120px;
  font-size:23px;
  font-family: 'Lobster', cursive;
}

.winner{
font-size:30px;
height:1px;
}

.turn{
  font-size:30px;
}
